{% extends "base.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block fos_user_content %}
{% block body %}
<div class="alert alert-success mx-auto mt-5 "mx-auto" style="width: 500px;"">
<p>{{ 'registration.confirmed'|trans({'%username%': user.username}) }}</p>
</div>
    
    {% if targetUrl %}
    <p><a href="{{ targetUrl }}">{{ 'registration.back'|trans }}</a></p>
    {% endif %}
{% endblock  %}
{% endblock fos_user_content %}
